* {
    padding: 0;
    margin: 0;
    font: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    ---purple: #ae759fff;
    --platinum: #e8e9ebff;
    --green: #709255ff;
    --green-white: rgb(195, 219, 174);
    --onyx: #313638ff;
    --red: #bc4749ff
}

body {
    background-image: linear-gradient(to bottom, var(--green-white), var(--green));
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content-calc {
    background-color: var(--onyx);
    min-width: 320px;
    min-height: 500px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 30px 30px 5px 5px;
    
    
    
    box-shadow: .1rem .1rem .5rem rgba(0, 0, 0, 0.425);
}

#content-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#content-tela {
    width: 87%;
    height: 3rem;
    background-color: var(--platinum);
    margin: .5rem;
    border-radius: .7rem;
    display: flex;
    align-items: center;
    justify-content: end;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.425);
}

@keyframes animarSurgimento {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

#text-tela {
    font-size: 1.7rem;
    padding-right: 1rem;
    animation-duration: .5s;
}

button{
    width: 5rem;
    height: 4rem;
    margin: 0.5rem;
    border: 1px solid black;
    border-radius: .3rem;
    background-color: var(--platinum);
    font-size: 1.7rem;
    box-shadow: .1rem .1rem .1rem rgba(0, 0, 0, 0.425);
}

button:hover {
    background-color: rgb(208, 211, 216);
    transition-delay: 40ms;
}


h1 {
    color: var(--platinum);
    font-size: 3rem;
    text-shadow: .1rem .1rem rgb(0, 0, 0);
}

.igual {
    background-color: rgb(93, 121, 243);
}

.igual:hover {
    background-color: rgb(78, 103, 214);
    transition-delay: 40ms;
}

.clear {
    background-color: rgb(185, 64, 80);
}

.clear:hover {
    transition-delay: 40ms;
    background-color: rgb(167, 53, 68);
}